.vertical-tabs {
    display: none;


      right: 0;
      display: inline;
      text-align: right;
      height: 100%;
      width: 100%;
      background-color: transparent;
      overflow: scroll;
      

      

      a:hover {
      background-color: $light-gray;
      color: $dark-gray;
      -webkit-box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
      -moz-box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
      box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
      }

      .vertical-tab {
      display: block;
      color: white;
      font-size: $base-font-size * 1.2;
      @include padding(0.5em 1.5em 0.5em 0);
      margin-right: 0em;



      &.is-active {
        background-color: white;
        color: $dark-gray;
        -webkit-box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
        -moz-box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
        box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
      }
      
      }
    }
  





  .vertical-tab-accordion-heading {
    cursor: pointer;
    display: block;
    display: none;
    
  }

  .spacer-themen {
    height: 7em;
    @include span-columns(12);
  }

  article {
    margin-bottom: 4em;
  }


// Based on code by Jett Miller jettmiller.net