.modal {

	 $modal-padding: 1em;

	label {
		@include span-columns(2.93);

	    h1{
	      @include margin(0.8em 0 0.8em 0);
	      text-align: center;
	      font-size: $base-font-size *1.3;
	    }

	    p{
	      text-align: center;
	      font-size: $base-font-size /1.1;
	      font-weight: 300;
	    }
	}

	label img {
		    max-width: 100%;
	}

	.modal-inner {

		padding: 2.5em;
	

	img{
      width: 100%;
      margin-top: 0em;
    }

    

    h1 {
    	@include margin(0.8em 0 0.8em 0);
    }
}

}