

#slideout {
    position: fixed;
    cursor: pointer;
    top: 50vh;
    right: 0;
    width: 60px;
    height: 13em;
    text-align: center;
    background: $dark-gray;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;

    #slideouttext {
        color: white;
        display: block;
        @include padding(0em 0em 0em 0em);
        @include margin(4em 0em 0em -2.2em);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 7em;
        font-size: $base-font-size * 1.4;
        
    }
}

#slideout_inner {
    position: fixed;
    padding-left: 0;
    top: 0;
    right: -251px;
    background: $dark-gray;
    width: 251px;
    height: 100%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
    -moz-box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
    box-shadow: inset 45px 0px 50px -33px rgba(0,0,0,0.22);
    overflow-y: scroll;
}

#slideout_inner textarea {
    width: 190px;
    height: 100px;
    margin-bottom: 6px;
}

#slideout:hover {
    right: 250px;
}

#slideout:hover #slideout_inner {
    right: 0;
}

input[type=checkbox]:checked + label {
   #slideout {
    right: 250px;
    }
    #slideout_inner {
    right: 0;
}

}

input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
   }